body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.hello:hover {
    color: #00ff21;
    box-shadow: 10px 10px 10px rgb(220,195,35);
}

/*table.sorting tr:not(.home){
    cursor:pointer;
}*/
table.sorting tr {
    cursor: pointer;
}
.ui-state-heighlight {
    border: 1px solid green;
}

span.addmycat {
    display: none;
}
table.mycategor td {
    padding: 30px !important;
}
