@model NGLayer.Models.ViewModels.Order.CartOrderViewModel

<div class="basket newclass">
    <span>@Model.Quantity товаров на сумму @Model.Price &#8372;</span>
    <div>@Html.ActionLink("Заказать", "Index")</div>
</div>
